[submodule "cyclonedds"]
	path = cyclonedds
	url = https://github.com/pjanec/cyclonedds.git
	branch = pj/exposing-serdata-api
[submodule "cyclonedds-cxx"]
	path = cyclonedds-cxx
	url = https://github.com/eclipse-cyclonedds/cyclonedds-cxx.git
